/* CSS file placeholder. */

#_head {
	width: 95%;
	height: 90px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 20px;
	background-color: white;
	text-align: center;
}

#tools {
	margin-left: 35px;
	width: 15%;
	height: 640px;
	background-color: white;
	border-radius: 20px;
	display: inline-block;
}

body
{
  background-color : #222;
}

#myholder {
	background-color: white;
	margin-left: 20px;
	width: 80%;
	height: 640px;
	text-align: center;
	display: inline-block;
	border-radius: 20px;
}